<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Certificado</title>
</head>
<body style="font-family: Helvetica; margin: 0px;">
	<div class="container-fluid">
		<div >
			<img src="http://palmera.marketing/eventos/check-in_system/assets/images/Header_Menarini_Logo.jpg" alt="" width="100%">
		</div>
		<div>
			<p style="font-size: 12pt; text-align: center;">Se otorga el siguiente reconocimiento a</p>	
		</div>
		<div>
			<table width="60%"  cellspacing="0" cellpadding="0" border="0" align="center">
				<tr>
					<td align="center">
						<p style="font-size: 20pt; font-style: italic; font-weight: bold;">@name</p>
						<hr style="border-top: 2px solid black;" width="100%"/>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<p style="font-size: 14pt; margin-top: 10px; text-align: center;">Por haber asistido al IX Simposium de Centroamérica y el Caribe <br> y actualizar sus conocimientos en la especialidad de Odontoestomatología.</p>
		</div>	
		<div>
			<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
				<tr>
					<td align="center" valign="bottom" style=" background-image: url(http://palmera.marketing/eventos/check-in_system/assets/images/firma-1.png);background-repeat: no-repeat;     background-position: center; height: 120px;">
						<hr style="border-top: 2px solid black;" width="60%"/>
						<p style="font-size: 9pt; ">Dr. José Luis Cobos Serrano</p>
					</td>
					<td align="center" valign="bottom" style=" background-image: url(http://palmera.marketing/eventos/check-in_system/assets/images/firma-2.png);background-repeat: no-repeat;     background-position: center; height: 120px;">
						<hr style="border-top: 2px solid black;" width="60%"/>
						<p style="font-size: 9pt; ">Dr. José Manual Navarro Martínez</p>
					</td>	
					<td align="center" valign="bottom" style=" background-image: url(http://palmera.marketing/eventos/check-in_system/assets/images/firma-3.png);background-repeat: no-repeat;     background-position: center; height: 120px;">
						<hr style="border-top: 2px solid black;" width="80%"/>
						<p style="font-size: 9pt; ">Dr. Rafael Palencia Díaz</p>
					</td>			
				</tr>
			</table>
		</div>						
	</div>				
</body>
</html>