<!DOCTYPE html>
<html lang=es>
	 <head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>GRACIAS</title>
			<meta content="../assets/images/menarini_icon.jpg" name="msapplication-TileImage">
			<link href="../assets/images/menarini_icon.jpg" rel="icon" sizes="32x32">
			<link href="../assets/images/menarini_icon.jpg" rel="icon" sizes="192x192">
			<link href="../assets/images/menarini_icon.jpg" rel="apple-touch-icon-precomposed">
			<!-- Bootstrap y CSS -->
			<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
			<link href="../assets/css/fonts.css" rel="stylesheet">
			<link href="../assets/css/index.css" rel="stylesheet">
			<!-- Jquery -->
			<script type="text/javascript" src="../assets/plugins/jquery/jquery-3.2.1.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/jquery/jquery.validate.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/jquery/jquery-ui.min.js"></script>
	 </head>
	 <body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quitar_padding">
					<div id="imagen_header_logo" class="centrar">
						<img src="../assets/images/menarini_icon.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quitar_padding">
					<div id="imagen_header">
						<img src="../assets/images/header_gracias.jpg" alt="" width="100%" >
					</div>
				</div>
			</div>


			<div id="div_contenedor_footer">
		    <div class="row">
		    	<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
			    	<div id="div_contenedor_footer">
			    		<div id="div_texto_asistir">
			    			<span class="span_texto_asistir">
			    				Gracias por Registarte
			    			</span>
			    		</div>
			    	</div>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		    		<div class="row" id="margen_redes_sociales">
		    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
		    				<a href="https://www.facebook.com/MenariniCA/" target="_blank">
			    				<div class="div_img_redes_sociales">
			    					<img src="../assets/images/C&W_Landing_FB.png" alt="" width="23px">
			    				</div>
			    				<div class="div_texto_redes_sociales">
			    					<span class="span_texto_redes_sociales">MenariniCA</span>
			    				</div>
			    			</a>
		    			</div>
		    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
		    				<a href="https://twitter.com/menarinica?lang=es" target="_blank">
			    				<div class="div_img_redes_sociales">
			    					<img src="../assets/images/C&W_Landing_TW.png" alt="" width="23px">
			    				</div>
			    				<div class="div_texto_redes_sociales">
			    					<span class="span_texto_redes_sociales">@MenariniCA</span>
			    				</div>
			    			</a>
		    			</div>
		    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
		    				<a href="https://www.youtube.com/user/MenariniCA" target="_blank">
			    				<div class="div_img_redes_sociales">
			    					<img src="../assets/images/C&W_Landing_YT.png" alt="" width="23px">
			    				</div>
			    				<div class="div_texto_redes_sociales">
			    					<span class="span_texto_redes_sociales">MenariniCA</span>
			    				</div>
		    				</a>
		    			</div>
		    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
		    				<a href="https://www.linkedin.com/company/grupomenarinicentroam%C3%A9ricayelcaribe/?originalSubdomain=ve" target="_blank">
			    				<div class="div_img_redes_sociales">
			    					<img src="../assets/images/logo_linkedin.png" alt="" width="23px">
			    				</div>
			    				<div class="div_texto_redes_sociales">
			    					<span class="span_texto_redes_sociales">grupomenarini_ca</span>
			    				</div>
			    			</a>
		    			</div>
		    		</div>
		    	</div>
		    </div>
			</div>

			<div class="row" id="div_background_footer_web">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div id="div_web_footer">
						<span class="negrita text_helvetica"><a href="http://www.menarini-ca.com/" id="enlace_web">www.menarini-ca.com</a></span>
					</div>
				</div>
			</div>

		</div>
	 <!-- JS -->
	 <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	 <script src="../assets/js/script.js"></script>
	 </body>
</html>
