#div_contenedor_encuesta{
	margin: 20px 0px 20px 0px;
	width: 100%;
}
.div_pregunta{
	margin: 0px 0px 20px;
	font-size: 25px;
	font-weight: bold;
	color: white;
}
.div_respuesta{
	font-size: 20px;
	color: white;
	text-align: justify;
	transform: translateX(-50%);
	margin-left: 50%;
}
.div_resp{
	margin: 10px auto;
}
.label_resp{
	margin-left: 15px;
	font-weight: bold;
}
.div_botones{
	display: inline-block;
}
#div_contenedor_botones{
	width: 100%;
	margin: 40px auto;
}
#boton_finalizar{
	display: none;
}
#boton_anterior{
	display: none;
}
#div_container_encuesta{
	display: none;
	width: 100%;
}
#div_boton_comenzar{
	margin: 35px auto;
	text-align: center;
}

#div_container_gracias{
	display: none;
}
#div_container_error_usuario{
	display: none;
}
.salir{
	margin-bottom: 20px;
}
