.container_background{
	background-image: url('../images/container_background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 100%;
}

.col_header{
	background-color: rgba(242, 243, 244, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.col_content{
	background-color: rgba(242, 243, 244, 0.8);
}
.col_footer{
	background-color: rgba(242, 243, 244, 0.8);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.div_cierre{
	height: 35px;
}

#div_busqueda_participante{
	width: 90%;
	margin: 0 auto 0 auto;
}

.div_contenedor_centrado{
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.quitar_padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.div_transparente{
	background-color: rgba(242, 243, 244, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.div_transparente_sin_bordes{
	background-color: rgba(242, 243, 244, 0.8);
}

body, html{
	height: 100%;
	
}

/*----------ERROR BOTONES----------*/
input.error{border-bottom:2px solid #db0080!important;}
select.error{border-bottom:2px solid #db0080!important;}
label.error{display:none!important;}
::placeholder{color:#3d0e73;}
:-ms-input-placeholder{color:#3d0e73;}
::-webkit-input-placeholder{color:#3d0e73;}
::-moz-placeholder{color:#3d0e73;}
/*---------------------------------*/

#div_contenedor_formulario{
	margin: 55px auto 20px auto;
}

.div_parrafo_superior_formulario{
	margin: 55px auto 30px auto;
}
.centrar{
	text-align: center;
}
.p_texto_gris{
	font-size: 27px;
	color: #767676;
}
.p_texto_azul{
	font-size: 27px;
	color: #6c829d;
}
.inputCheck {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
}
.center-button{
	text-align: center;
  margin: 30px auto;
}
.button-form{
	color: #f2f2f2;
	background-color: #767676;
	border-color: #767676;
	border-radius: 14px;
	font-family: 'FoundrySterling-BoldOSF', Sans-Serif;
	font-size: 20pt;
	margin: 20px auto 7%;
	max-width: 367px;
	width: 100%;
	height: 55px;
	padding: 12px 45px;
}
.button-encuesta{
	color: white;
	background-color: #c33318;
	border-color: #c33318;
	border-radius: 25px;
	font-family: 'FoundrySterling-BoldOSF', Sans-Serif;
	font-size: 20pt;
	margin: 20px auto 7%;
	max-width: 367px;
	width: 100%;
	height: 55px;
	padding: 12px 45px;
}
#imagen_header_logo{
	width: 100%;
	margin: 30px auto 30px auto;
}
.fondo_azul{

}

.text_encuesta{
	font-size: 40px;
	color: white;
	font-weight: bold;
}
