 th{
	text-align: center;
}
span,p{
	font-family: 'Raleway-Medium';
}
#enlace_web{
	text-decoration: none;
	color: white;
}
.container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.row{
	margin-right:0px!important;
	margin-left:0px!important;
}
.quitar_padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#imagen_header_logo{
	width: 100%;
	margin: 30px auto 30px auto;
}

.espacio_secciones{
	margin: 50px auto;
}
.text_medium{
	font-family: 'FoundrySterling-Medium';
}
.text_bold{
	font-family: 'FoundrySterling-BoldOSF';
}
.text_book{
	font-family: 'FoundrySterling-Book';
}
.text_helvetica{
	font-family: 'helvetica';
}
#div_titutlo_agenda{
	margin-top: 40px;
	text-align: center;
	font-size: 35px;
}
#div_titutlo_conferencistas{
	margin-top: 10px;
	text-align: center;
	font-size: 35px;
}
.agenda_background{
	background-color: #f3f3f3;
}
.negrita{
	font-weight: bold;
}
.p_texto_morado{
	font-size: 27px;
	color: #767676;
}
.p_texto_pequeno{
	font-size: 15px;
	color: #767676;
}
.mayuscula{
	text-transform: uppercase;
}
.carousel-control{
  background-image: none !important;
}
.justificar{
	text-align: justify;
}
.centrar{
	text-align: center;
}
#background_morado{
	background-color: #3a1266;
}
#div_titulo{
	text-align: center;
	margin-bottom: 25px;
}
#div_contenedor_asistir{
	margin: 30px auto 0px auto;
	text-align: center;
}
#div_contenedor_footer{
	margin:  0px auto;
	text-align: center;
}
.div_texto_redes_sociales{
	float: left;
}
#div_texto_asistir{
	margin-top: 80px;
	margin-bottom: 35px;
}
.div_img_redes_sociales{
	float: left;
	vertical-align: middle;
	margin-top: 4px;
	margin-right: 5px;
}
.span_texto_redes_sociales{
	color: white;
	font-size: 21px;
}
#margen_redes_sociales{
	margin: 35px auto;
}
#span_texto_boton{
	margin: 35px 100px;
	color: white;
	font-size: 27px;
}
#div_boton_asistir{
	margin-bottom: 40px;
}
#boton_asistir{
	background-color: #c33318;
	border-radius: 13px;
}
#span_texto_asistir{
	color: white;
	font-size: 27px;
	text-align: center;
}
.span_texto_asistir{
	color: white;
	font-size: 35px;
	text-align: center;
}
.span_gracias{
	color: #2c4c72;
	font-size: 55px;
	text-align: center;
}
.div_gracias{
  margin-top: 80px;
	margin-bottom: 35px;
	text-align: center;
}
#terminos_condiciones{
	font-size: 12px;
	text-align: justify;
}
#div_terminos{
	margin: 25px auto;
}
#h1_titulo{
	font-family: 'FoundrySterling-BoldOSF';
	color: white;
}
#div_imagen_agenda{
	margin: 55px auto;
}
#div_contenedor_agenda{
	margin: 35px auto;
}
#background_gris{
	background-color: #dfdfdf;
}
.p_texto_negro{
	font-size: 27px;
	color: #565656;
}

#div_parrafo_seccion_video{
	margin: 75px auto;
}
#div_contenedor_video{
	margin: 55px auto;
	width: 90%;
}
#div_contenedor_carrousel{
	margin: 50px auto;
}
.img-responsive{
	margin-left: auto !important;
	margin-right: auto !important;
}
.div_texto_conferencista{
  position: relative;
  margin-top: 13%;
}
.arroy_slider_2{
  height: 75px;
  margin-top: 75%;
}
.margen_carousel{
	margin: 40px auto;
}
.carousel-control{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0) 100%) !important;
}
.background_azul{
	background-color: #3961a6;
}
#rosa{
	color: #ea008a;
}

#div_contenedor_texto_derecho_formulario{
	margin-top: 40%;
}
#div_contenedor_formulario{
	margin: 55px auto 20px auto;
}
#form_background{
	background-color: #2d4c72;
}
#div_contenedor_asistir{
	background-image: url('../images/fondo_asistir.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#div_contenedor_footer{
	background-image: url('../images/fondo_asistir.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#div_background_footer_web{
	background-image: url('../images/footer_web.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#div_web_footer{
	margin: 17px auto;
	text-align: center;
	color: white;
	font-size: 40px;
}
.input-form{
	color: black;
	background-color: #f2f2f2;
	font-family: 'FoundrySterling-Book', Sans-Serif;
	font-size: 14pt;
	margin: 10px auto;
	height: 40px;
  max-width: 400px;
}

.inputCheck {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
}
#div_checkbox_terminos{
	 /* max-width: 400px; */
    text-align: center;
    /* margin: 18px auto 0px auto; */
    margin-top: 25px;
}
#terminos{
	margin-right: 7px;
}
#span_terminos{
	color: white;
	font-size: 17px;
}
.center-button{
	text-align: center;
  margin: 30px auto;
}
.button-form{
	color: #f2f2f2;
	background-color: #767676;
	border-color: #767676;
	border-radius: 14px;
	font-family: 'FoundrySterling-BoldOSF', Sans-Serif;
	font-size: 20pt;
	margin: 20px auto 7%;
	max-width: 367px;
	width: 100%;
	height: 55px;
	padding: 12px 45px;
}
.div_parrafo_superior_formulario{
	margin: 55px auto 30px auto;
}
#div_agenda{
	margin: auto 50px;
}
.p_texto_blanco{
	font-size: 27px;
	color: white;
  margin: 30px auto;
}
.p_texto_gris{
	font-size: 27px;
	color: #656565;
  margin: 30px auto;
}
.span_terminos{
	font-size: 20px;
	color: #949494;
}
#div_parrafo_inferior_formulario{
	margin: 15px auto;
}
/* .form-inline{
	max-width: 400px;
	margin: auto;
} */
.form-group{
	display: block !important;
	text-align: right !important;
}
#div_error_hidden{
	text-align: center;
	display: none;
}
#span_error{
	color: red;
	font-size: 13px;
}
.error{
  color: red;
}
.div_imagen_tabla{
	height: 479px;
}

/*----------FOOTER----------*/
#row_footer{
	background-color: #301d5a;
}
.logo-header {
    height: auto;
    margin: 15px auto 15px auto;
}
div.a{
	padding-top: 10px;
}
.a>a{
	color: white;

}
.a>a>img{
	width:25px;
	float:left;
	margin:0px
}
.a>a>span{
	font-size: 18px;
	margin-left: 5px;
}
p.a{
	font-size: 18px;
	margin-left: 5px;
	color:white;
}
/*--------------------------*/

/*----------ERROR BOTONES----------*/
input.error{border-bottom:2px solid #db0080!important;}
select.error{border-bottom:2px solid #db0080!important;}
label.error{display:none!important;}
::placeholder{color:#3d0e73;}
:-ms-input-placeholder{color:#3d0e73;}
::-webkit-input-placeholder{color:#3d0e73;}
::-moz-placeholder{color:#3d0e73;}
/*---------------------------------*/

@media screen and (max-width: 991px){
	.p_texto_blanco{
		font-size: 23px;
	}
	.p_texto_gris{
		font-size: 23px;
	}
	.form-group{
		margin-right: 0px !important;
	}
	.span_texto_redes_sociales{
		font-size: 15px;
		text-align: center;
	}
}
@media screen and (max-width: 767px){
	.p_texto_morado{
		font-size: 21px;
	}
	.p_texto_negro{
		font-size: 21px;
	}
	#div_contenedor_texto_derecho_formulario{
		margin-top: 15%;
		margin-bottom: 15%;
	}
	.p_texto_blanco{
		font-size: 26px;
	}
	.p_texto_gris{
		font-size: 26px;
	}
	.form-group{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	.carousel-control{
		margin-top: 25%;
	}
	.span_texto_redes_sociales{
		font-size: 17px;
		text-align: center;
	}
}
@media screen and (max-width: 500px){
	.p_texto_morado{
		font-size: 20px;
	}
	.p_texto_negro{
		font-size: 20px;
	}
	#div_contenedor_texto_derecho_formulario{
		margin-top: 15%;
		margin-bottom: 15%;
	}
	.p_texto_blanco{
		font-size: 25px;
	}
	.p_texto_gris{
		font-size: 25px;
	}
	.form-group{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	.carousel-control{
		margin-top: 25%;
	}
	#div_agenda{
		margin: auto;
	}
	#span_texto_boton {
	    margin: 35px 70px;
	}
	#div_web_footer{
		font-size: 20px;
	}
	#div_contenedor_texto_derecho_formulario{
		text-align: justify;
	}
	.span_texto_redes_sociales{
		font-size: 17px;
		text-align: center;
	}
	.div_img_redes_sociales{
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}
}
