.header_menu{
	width: 100%;
	height: 60px;
	background-color: #227FBC;
}
.header_menu span{
	font-size: 30px;
	padding: 10px;
	color: white;
	transition: all 300ms;
	cursor: pointer;
	position: relative;
	top: 4px !important;
	left: 75px;
	width: 50px;
}
.header_menu span:hover{
	background: rgba(0,0,0,0.4);
	border-radius: 10px;
}
.content-menu{
	width: 187px;
	background-color: #616162;
	transition: all 300ms;
	float: left;
}
.content-menu li{
	list-style: none;
	text-align: center;
	padding: 20px;
	color: white;
	transition: all 300ms;
	cursor: pointer;
}
.content-menu li:hover{
	transform: translateY(20px);
	background: rgba(0,0,0,0.5);
}
.content-menu li span{
	font-size: 30px;
}

.content-menu li h4{
	font-weight: 100;
	transform: translateY(18px) translateX(-150px);
	transition: all 300ms;
}
.content-menu:hover .text-menu-1{
	transform: translateX(0px);
	transition: all 100ms;
}
.content-menu:hover .text-menu-2{
	transform: translateX(0px);
	transition: all 200ms;
}
.content-menu:hover .text-menu-3{
	transform: translateX(0px);
	transition: all 300ms;
}
.content-menu:hover .text-menu-4{
	transform: translateX(0px);
	transition: all 400ms;
}
.content-menu:hover .text-menu-5{
	transform: translateX(0px);
	transition: all 500ms;
}
.content-menu:hover .text-menu-6{
	transform: translateX(0px);
	transition: all 600ms;
}
.content-menu:hover .text-menu-7{
	transform: translateX(0px);
	transition: all 700ms;
}
.content-menu:hover .text-menu-8{
	transform: translateX(0px);
	transition: all 800ms;
}
.content-menu:hover .text-menu-9{
	transform: translateX(0px);
	transition: all 900ms;
}

.boton-accion{
	width: 12%;
	text-align: center;
	cursor: pointer;
}